<section class="navigable">
    <ul class="big-menu">
        <li class="with-right-arrow">
            <span>Facturación</span>
            <ul class="big-menu">
                <li><a href="presupuestos.html"><span class="list-count">6</span> Presupuestos</a></li>
                <li><a href="pedidos.html"><span class="list-count">12</span> Pedidos</a></li>
                <li><a href="facturas.html"><span class="list-count">4</span>Facturas</a></li>
                <li><a href="albaranes.html" title="Notas de entrega"><span class="list-count">8</span>Albaranes</a></li>
            </ul>
        </li>
        <li class="with-right-arrow">
            <span>Finanzas</span>
            <ul class="big-menu">
                <li><a href="#">Contabilidad</a></li>
                <li><a href="#">Bancos</a></li>
                <li><a href="#">Automatic setup</a></li>
                <li><a href="#">Automatic setup</a></li>
                <li><a href="responsive.html">Responsiveness</a></li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="sliders.html">Slider &amp; progress</a></li>
                <li><a href="modals.html">Modal windows</a></li>
                <li class="with-right-arrow">
                    <span><span class="list-count">3</span>Messages &amp; notifications</span>
                    <ul class="big-menu">
                        <li><a href="messages.html">Messages</a></li>
                        <li><a href="notifications.html">Notifications</a></li>
                        <li><a href="tooltips.html">Tooltips</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="with-right-arrow">
            <span>Almacen</span>
            <ul class="big-menu">
                <li><a href="#">Automatic setup</a></li>
                <li><a href="#">Automatic setup</a></li>
                <li><a href="#">Automatic setup</a></li>
                <li><a href="#">Automatic setup</a></li>
                <li><a href="responsive.html">Responsiveness</a></li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="sliders.html">Slider &amp; progress</a></li>
                <li><a href="modals.html">Modal windows</a></li>
                <li class="with-right-arrow">
                    <span><span class="list-count">3</span>Messages &amp; notifications</span>
                    <ul class="big-menu">
                        <li><a href="messages.html">Messages</a></li>
                        <li><a href="notifications.html">Notifications</a></li>
                        <li><a href="tooltips.html">Tooltips</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</section>
