<section class="navigable">
    <ul class="big-menu">
        <li class="with-right-arrow">
            <span>Facturación</span>
            <ul class="big-menu">
                <li><span class="list-count">11</span><a href="#"> Presupuestos</a></li>
                <li><a href="#"><span class="list-count">11</span> Pedidos</a></li>
                <li><a href="#">Facturas</a></li>
                <li><a href="#" title="Notas de entrega">Albaranes</a></li>
            </ul>
        </li>
        <li class="with-right-arrow">
            <span>Finanzas</span>
            <ul class="big-menu">
                <li><a href="#">Automatic setup</a></li>
                <li><a href="#">Automatic setup</a></li>
                <li><a href="#">Automatic setup</a></li>
                <li><a href="#">Automatic setup</a></li>
                <li><a href="responsive.html">Responsiveness</a></li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="sliders.html">Slider &amp; progress</a></li>
                <li><a href="modals.html">Modal windows</a></li>
                <li class="with-right-arrow">
                    <span><span class="list-count">3</span>Messages &amp; notifications</span>
                    <ul class="big-menu">
                        <li><a href="messages.html">Messages</a></li>
                        <li><a href="notifications.html">Notifications</a></li>
                        <li><a href="tooltips.html">Tooltips</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="with-right-arrow">
            <span>Almacen</span>
            <ul class="big-menu">
                <li><a href="#">Automatic setup</a></li>
                <li><a href="#">Automatic setup</a></li>
                <li><a href="#">Automatic setup</a></li>
                <li><a href="#">Automatic setup</a></li>
                <li><a href="responsive.html">Responsiveness</a></li>
                <li><a href="tabs.html">Tabs</a></li>
                <li><a href="sliders.html">Slider &amp; progress</a></li>
                <li><a href="modals.html">Modal windows</a></li>
                <li class="with-right-arrow">
                    <span><span class="list-count">3</span>Messages &amp; notifications</span>
                    <ul class="big-menu">
                        <li><a href="messages.html">Messages</a></li>
                        <li><a href="notifications.html">Notifications</a></li>
                        <li><a href="tooltips.html">Tooltips</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</section>
